body {
  /* text-align:center; */
  font-family: 'Lora', serif;
  background-color: #FAFAD2;
}

#hero-flex {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#front-coat {
  width: 100px;
  height: 100px;
  transform: rotate(-5deg);
  padding-bottom: 1em;
}

#zip {
  padding: 12px 28px;
  border-radius: 4px;
  width: 13%;
  text-align: center;
}

.button {
  background-color: gold;
  padding: 12px 28px;
  margin: .5em;
  border-radius: 4px;
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  background-color: #FFFAFA;
  height: 50vh;
  width: 50vw;
  /* padding: 1em 2em; */
  border: 10px solid #d6ecf3;
  border-radius: 8px;
  font-size: 1.5em;
  text-align: center;
}

#modal-close {
  align-self: flex-end;
  font-size: .75em;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: -15em;
  margin-left: -2em;
}

#close {
  position: relative;
  background-color: gold;
  padding: 4px 10px;
  margin: .5em;
  border-radius: 4px;
  cursor: pointer;
}

img {
  width: 40%;;
  transform: rotate(3deg);
}
