body {
  text-align:center;
  font-family: 'Lora', serif;

}

img {
  width: 10%;
  height: 10%;
  transform: rotate(-5deg);
}

#zip {
  padding: 12px 28px;
  border-radius: 4px;
  width: 13%;
  text-align: center;
}

.button {
  background-color: gold;
  padding: 12px 28px;
  margin: .5em;
  border-radius: 4px;
  width: inherit;
}

#modal {
  background-color: #DC5539;
  color: ghostwhite;
	height: 60px;
	width: 250px;
	border-radius: 5px;
  margin: 0 auto;
	box-shadow: 0 4x 4x rgba(0,0,0,0.2);
	padding: 2%;
	line-height: 120%;
  /* z-index: 2;
  position: fixed; */
  /* opacity: 85%; */
}
