body {
  font-family: 'Lora', serif;
  background-color: #FAFAD2;
}

h1 {
  font-size: 3em;
}

#hero-flex {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#front-coat {
  width: 175px;
  height: 175px;
  transform: rotate(5deg);
  padding-bottom: 1em;
}

#zip {
  padding: 12px 28px;
  border-radius: 4px;
  width: 200px;
  text-align: center;
}

.button {
  background-color: gold;
  width: 262px;
  padding: 12px 28px;
  margin-top: .5em;
  margin-bottom: 1em;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  padding: 1.5em;
}

#modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-content {
  position: fixed;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  background-color: #FFFAFA;
  height: 50vh;
  width: 50vw;
  padding: 1em 2em;
  border: 10px solid #d6ecf3;
  border-radius: 8px;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
}

#modal-close {
  position: fixed;
  align-self: flex-end;
  position: absolute;
  font-size: .75em;
  cursor: pointer;
}

#close {
  background-color: gold;
  padding: 4px 10px;
  margin: .5em;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
}

#onesie {
  height: 300px;
  width: 200px;
  transform: rotate(-8deg);
  overflow: none;
}

#sleeping-bag {
  height: 300px;
  width: 200px;
  transform: rotate(3deg);
  overflow: none;
  margin: .5em;
}

#down {
  height: 220px;
  width: 180px;
  transform: rotate(-5deg);
  overflow: none;
  margin: .5em;
}

#peacoat {
  height: 220px;
  width: 195px;
  transform: rotate(-5deg);
  overflow: none;
}

#raincoat {
  height: 300px;
  width: 200px;
  transform: rotate(3deg);
  overflow: none;
  margin: .5em;
}

#bomber {
  height: 200px;
  width: 220px;
  transform: rotate(6deg);
  overflow: none;
  margin: .5em;
}

#denim {
  height: 200px;
  width: 220px;
  transform: rotate(-5deg);
  overflow: none;
}

#hoodie {
  height: 200px;
  width: 220px;
  transform: rotate(-5deg);
  overflow: none;
}

#t-shirt {
  height: 200px;
  width: 190px;
  transform: rotate(-10deg);
  overflow: none;
}

/* For mobile phones: */
@media (max-width: 600px) {
  h1 {
    text-align: center;
  }
  #zip {
    width: 200px;
    padding: 18px 36px;
    font-size: 1.25em;
  }
  .button {
    background-color: gold;
    width: 275px;
    padding: 18px 36px;
    font-size: 1.25em;
    margin: .5em;
    border-radius: 4px;
  }
  #front-coat {
    width: 200px;
    height: 200px;
    padding-bottom: 1.5em;
  }
  #modal-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    background-color: #FFFAFA;
    height: 50vh;
    width: 50vw;
    padding: 1em 3em;
    border: 10px solid #d6ecf3;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
  }
  #modal-close {
    position: fixed;
    margin-bottom: -25em;
    margin-right: 3.5em;
    align-self: flex-end;
    font-size: .75em;
    cursor: pointer;
  }
  #close {
    position: fixed;
    align-self: flex-end;
    background-color: gold;
    width: 75px;
    padding: 4px 10px;
    border-radius: 4px;
  }
  #onesie {
    height: 275px;
    width: 180px;
    transform: rotate(-8deg);
    overflow: none;
  }
  #sleeping-bag {
    margin: -2em 0 0 0;
    padding: 0 0 .5em 0;
    height: 275px;
    width: 175px;
    transform: rotate(3deg);
    overflow: none;
  }
  #down {
    margin: -1.25em 0 .5em 0;
    height: 220px;
    width: 180px;
    transform: rotate(-5deg);
    overflow: none;
  }
  #raincoat {
    height: 275px;
    width: 180px;
    transform: rotate(3deg);
    overflow: none;
    margin: .5em;
  }
  #denim {
    height: 200px;
    width: 220px;
    transform: rotate(-5deg);
    overflow: none;
    margin-bottom: .5em;
  }
  #hoodie {
    height: 200px;
    width: 220px;
    transform: rotate(-5deg);
    overflow: none;
    margin-bottom: 1em;
  }
  #t-shirt {
    height: 200px;
    width: 190px;
    transform: rotate(-10deg);
    overflow: none;
    margin-bottom: .5em;
  }
}
